replicas: 1

service:
  name: wcg
  type: ClusterIP
  port: 80

container:
  label: word-cloud-generator
  APP_PORT: 8888
  name: word-cloud-generator

image:
  repo_owner: GITHUB_REPOSITORY_OWNER #оунера не подставлял, так как не сделаны предыдущие домашки
  repository: wcg
  tag: 1.0.0

ingress:
  enabled: true
  hostname: Your_IP #ip не подставлял, так как у меня не сделаны предыдущие домашки, но в этой думаю все правильно
  path: /
  pathType: Prefix